<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="TestView.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ou.edu.herbarium.Application">
         </run>
      </application>
   </extension>
   <extension
         id="TestView.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="TestView.application"
            name="herbarium product">
         <!--property
               name="windowImages"
               value="icons/32.ico">
         </property-->
         <property name="aboutImage" value="icons/herbarium.bmp"/> 
         <property name="aboutText" value="Herbarium apparatus control and data storage"/> 
      </product>
   </extension>
   <extension point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="ou.edu.herbarium.splash.SplashHandler"
            id="ou.edu.herbarium.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="TestView.product"
            splashId="ou.edu.herbarium.splashHandler">
      </splashHandlerProductBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ou.edu.herbarium.editors.ImageEditor"
            icon="icons/image_obj.gif"
            id="ou.edu.herbarium.ImageEditor"
            name="">
      </editor>
      <editor
            class="ou.edu.herbarium.editors.ImageViewer"
            contributorClass="ou.edu.herbarium.editors.contributor.ImageEditorContributor"
            icon="icons/image_obj.gif"
            id="ou.edu.herbarium.ImageView"
            name="ImageView">
      </editor>
      <editor
            class="ou.edu.herbarium.editors.xml.XMLEditor"
            icon="icons/generic_xml_obj.gif"
            id="ou.edu.herbarium.XMLEditor"
            name="xml">
      </editor>
      <editor
            class="ou.edu.herbarium.editors.MetaDataEditor"
            icon="icons/flatLayout(3).gif"
            id="ou.edu.herbarium.MetaDataEditor"
            name="metadata">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="testview.intro">
      </intro>
      <introProductBinding
            introId="testview.intro"
            productId="TestView.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="testview.intro"
            content="introContent.xml"
            id="TestView.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="ext.xml"
            configId="TestView.configId">
      </configExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="ou.edu.herbarium.Perspective"
            id="TestView.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ou.edu.herbarium.views.View"
            icon="icons/image_obj.gif"
            id="TestView.view"
            name="View">
      </view>
      <view
            class="ou.edu.herbarium.views.Panel"
            icon="icons/all_instances.gif"
            id="TestView.panel"
            name="Panel">
      </view>
      <view
            class="ou.edu.herbarium.views.Monitor"
            icon="icons/debugt_obj.gif"
            id="TestView.monitor"
            name="Monitor">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="TestView.view"
               minimized="false"
               ratio="0.14"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               id="TestView.panel"
               minimized="false"
               ratio="0.8"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               id="TestView.monitor"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="TestView.panel"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <!--menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Start">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution-->
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="TestView.application"
            name="herbarium product">
         <property
               name="aboutText"
               value="Herbarium apparatus control and data storage">
         </property>
         <property
               name="aboutImage"
               value="icons/herbarium.bmp">
         </property>
         <property
               name="appName"
               value="herbarium product">
         </property>
      </product>
   </extension>

</plugin>
