<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.nevp.herbarium.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Client Perspective"
            class="org.nevp.herbarium.application.Perspective"
            id="HerbRCPClient.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nevp.herbarium.editors.ImageEditor"
            icon="icons/image_obj.gif"
            id="org.nevp.herbarium.ImageEditor"
            name="">
      </editor>
      <editor
            class="org.nevp.herbarium.editors.ImageViewer"
            contributorClass="org.nevp.herbarium.editors.contributor.ImageEditorContributor"
            icon="icons/image_obj.gif"
            id="org.nevp.herbarium.ImageView"
            name="ImageView">
      </editor>
      <editor
            class="org.nevp.herbarium.editors.xml.XMLEditor"
            icon="icons/generic_xml_obj.gif"
            id="org.nevp.herbarium.XMLEditor"
            name="xml">
      </editor>
      <editor
            class="org.nevp.herbarium.editors.MetaDataEditor"
            icon="icons/flatLayout(3).gif"
            id="org.nevp.herbarium.MetaDataEditor"
            name="metadata">
      </editor>
   </extension>
   <!--extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="HerbRCPClient.perspective2">
         <view
               id="TestView.view"
               minimized="false"
               ratio="0.14"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               id="TestView.panel"
               minimized="false"
               ratio="0.8"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               id="TestView.monitor"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="TestView.panel"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Data Input"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="org.nevp.herbarium.views.View"
            id="HerbRCPClient.view">
      </view>
      <view
            class="org.nevp.herbarium.view2.View"
            icon="icons/image_obj.gif"
            id="TestView.view"
            name="View">
      </view>
      <view
            class="org.nevp.herbarium.view2.Panel"
            icon="icons/all_instances.gif"
            id="TestView.panel"
            name="Panel">
      </view>
      <view
            class="org.nevp.herbarium.view2.Monitor"
            icon="icons/debugt_obj.gif"
            id="TestView.monitor"
            name="Monitor">
      </view>
      <!--view
            class="org.nevp.herbarium.views.Console"
            id="HerbRCPClient.console"
            name="Console"
            restorable="true">
      </view-->
      
      <!--view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="org.nevp.herbarium.views.NavigationView"
            id="HerbRCPClient.navigationView">
      </view-->
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="HerbRCPClient.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="HerbRCPClient.category"
            id="HerbRCPClient.open">
      </command>
      <command
            categoryId="HerbRCPClient.category"
            description="Login"
            id="HerbRCPClient.login"
            name="Login">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="HerbRCPClient.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="HerbRCPClient.application"
            description="NEVP Herbarium Digitization"
            name="NEVP Herbarium Digitization">
         <property
               name="aboutText"
               value="NEVP Herbarium Digitization">
         </property>
         <property
               name="windowImages"
               value="icons/icon.ico">
         </property>
         <property
               name="aboutImage"
               value="help.png">
         </property>
         <property
               name="appName"
               value="NEVP Herbarium Digitization">
         </property>
      </product>
   </extension>

</plugin>
